USE [LibraryApp]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 28-Dec-20 5:36:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Author] [varchar](max) NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BooksOrders]    Script Date: 28-Dec-20 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooksOrders](
	[OrderId] [int] NOT NULL,
	[BookId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 28-Dec-20 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Total] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 28-Dec-20 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Author] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28-Dec-20 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Author], [Price]) VALUES (1, N'Fundamentals of Wavelets', N'Goswami, Jaideva', 46.9900)
INSERT [dbo].[Books] ([Id], [Title], [Author], [Price]) VALUES (2, N'Data Smart', N'Foreman, John', 46.9900)
INSERT [dbo].[Books] ([Id], [Title], [Author], [Price]) VALUES (3, N'God Created the Integers', N'Hawking, Stephen', 5.9900)
SET IDENTITY_INSERT [dbo].[Books] OFF
INSERT [dbo].[BooksOrders] ([OrderId], [BookId]) VALUES (1, 35)
INSERT [dbo].[BooksOrders] ([OrderId], [BookId]) VALUES (2, 42)
INSERT [dbo].[BooksOrders] ([OrderId], [BookId]) VALUES (2, 28)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Username], [Total]) VALUES (1, N'cettelse', 10.9900)
INSERT [dbo].[Orders] ([Id], [Username], [Total]) VALUES (2, N'1', 43.9800)
INSERT [dbo].[Orders] ([Id], [Username], [Total]) VALUES (3, N'jerrigo1a', 34.9700)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([Id], [Title], [Author]) VALUES (1, N'Aghal Paghal', N'Deshpande, P L')
INSERT [dbo].[Requests] ([Id], [Title], [Author]) VALUES (2, N'Maqta-e-Ghalib', N'Garg, Sanjay')
INSERT [dbo].[Requests] ([Id], [Title], [Author]) VALUES (3, N'Manasa', N'Kale, V P')
SET IDENTITY_INSERT [dbo].[Requests] OFF
INSERT [dbo].[Users] ([Username], [Password], [IsAdmin]) VALUES (N'1', N'1', 1)
INSERT [dbo].[Users] ([Username], [Password], [IsAdmin]) VALUES (N'adiggens13', N'5n9Ut5p', 0)
INSERT [dbo].[Users] ([Username], [Password], [IsAdmin]) VALUES (N'admin', N'admin', 1)
ALTER TABLE [dbo].[BooksOrders]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[BooksOrders]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
GO
